*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navbar{
    background-color: rgb(32, 32, 32);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar h2{
    color: red;
}
nav{
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
    color: white;
    cursor: pointer;
}
nav ul li:hover{
   transition: 1s;
   color: white;
}
span{
    color: white;
}
#box{
    width: 50%;
    display: flex;
    flex-direction: column;
   height: 51%;
   padding: 1rem;
   margin: auto;
   border-radius: 20px;
   box-shadow: 1px 1px 5px 3px lightgrey;
   margin-top: 50px;
}
#parent{
    width: 90%;
    margin: auto;
    margin-top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
legend{
    text-align: center;
    color: rgb(32, 32, 32);
    font-size: 22px;
}
#output{
    background-color: rgb(32, 32, 32);
    padding: 1rem;
    width: 50%;
    display: none;
    color: white;
    margin: auto;
    border-radius: 50px;
    height: 10%;
}
fieldset{
    height: 100%;
     width: 100%;
     border: none;
     
}
form{
    width: 100%;
}
input{
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 20px;
    font-size: 15px;
}
input[type = "submit"]{
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
    border-radius: 25px;
    padding: 0.65rem;
    font-size: 16px;
    width: 98%;
}
#icon{
    display: none;
    font-size: 20px;
    color: white;
}
#icon2{
    display: none;
    font-size: 20px;
    color: red;
}
#unhide{
    background-color: rgb(32, 32, 32);
    padding: 1rem;
    display: none;
    margin: auto;
    width: 100%;
    
}

#unhide ul li{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}
#unhide ul li:hover{
    background-color: rgb(54, 53, 53);
}
@media screen and (max-width: 1180px){
    nav {
        display: none;
    }
   #icon{
    display: block;
   }
   #parent{
    width: 80%;
   }
   #box{
    width: 100%;
    height: 100%;
    box-shadow: none;
   }
   #output{
    width: 80%;
    margin-top: 20px;
    height: 20%;
   }
}
